{% extends 'base.html' %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}

<div class="text-center mb-4">
    <img class="mb-4" src="/static/pic.png" alt="" width="300px" height="300px"
        style="margin-right: 980px; margin-top: 31px;">
    <h1
        style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(240, 120, 23); font-size: xxx-large; margin-top: -37vh; margin-right: 50vh; font-weight: bold;">
        Who am I ?</h1>
    <img src="/static/quated2.png" alt="" width="70px" height="70px" style="margin-right: 74vh;">
    <div style="color: white;">
    <p style="margin-top: -23px; margin-left: 35vh;" >HI my name is <strong>Swastik Nayek.</strong> I am a student of b.tech CSE. I read in Narula Institute of Technology.</p>
    <p style="margin-top: -15px; margin-left: 28vh;">  I am from Arambagh. My hobby is drawing, gaming, coding and reading story book</p>
    <p style="margin-top: -15px; margin-left: 28vh;">  I want to get a b.tech job. I love to make website, and love programming.</p>
    <p style="margin-top: -18px; margin-left: 43vh;" >If you explore my website I like to give you a huge thanks. you can help us to improve my code and can do a job together.</p>
    </div>
    <img src="/static/quated1.png" alt="" width="70px" height="70px" style="margin-right: -172vh; margin-top: -20vh;">
</div>

<div class="card" style="width: 18rem; margin-left: 20vh; margin-top: 7vh;">
    <img class="card-img-top" src="/static/code.jpg" alt="Card image cap">
    <div class="card-body" style="background-color: gray; color: white;">
      <h5 class="card-title" style="color: rgb(239, 181, 124);">My Project</h5>
      <p class="card-text">Node-js Project, Portfolio website, Login page, iCoder, About page</p>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-left: 90vh; margin-top: -45vh;">
    <img class="card-img-top" src="/static/pro.avif" alt="Card image cap">
    <div class="card-body" style="background-color: gray; color: white;">
      <h5 class="card-title" style="color: rgb(239, 181, 124);">Coding Skill</h5>
      <p class="card-text">C: Begginar, C++: Begginar, HTML & CSS: Begginar, Python: Begginar, Django: Begginar</p>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-left: 160vh; margin-top: -45vh;">
    <img class="card-img-top" src="/static/job.jpg" alt="Card image cap">
    <div class="card-body" style="background-color: gray; color: white;">
      <h5 class="card-title" style="color: rgb(239, 181, 124);">Job & Internship</h5>
      <p class="card-text">No Job & No Internship I got at that time. But I got it soon</p>
    </div>
  </div>
  
  <h1 style="margin: 52px 500px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(240, 120, 23); font-weight: bold;">My social media platform: </h1>
  <div>
    <div style="margin: 50px 625px;">
      <a href="https://www.facebook.com/profile.php?id=100009807219664">
        <img src="/static/face.png" alt="" width="78px" height="60px" style="margin-left: -45px;">
      </a>
      <a href="https://www.instagram.com/swastiknayek/">
        <img src="/static/insta.webp" alt="" width="45px" height="45px" style="margin-left: 3px;">
      </a>
      <a href="https://github.com/swastik-nayek">
        <img src="/static/git.png" alt="" width="64px" height="64px" style="margin-left: 4px;">
      </a>
      <a href="https://www.linkedin.com/in/swastik-nayek-b0030926a/">
        <img src="/static/in.png" alt="" width="60px" height="60px" style="margin-left: -1px;">
      </a>
    </div>
  </div>
{% endblock body %}